.accordion-item {
  border: none !important;
  border-bottom: 2px solid #b7f9fa !important;
}

.accordion-button {
  font-family: "Courgette", cursive;
  color: rgb(112, 112, 112) !important;
  font-size: 25px !important;
}

.accordion-button:hover {
  color: aqua !important;
  text-shadow: 2px 1px 2px darkblue;
}

.accordion-button:focus {
  color: aqua !important;
  text-shadow: 2px 1px 2px darkblue;
}

.accordion-button:focus {
  box-shadow: inherit !important;
}

.accordion-button:not(.collapsed) {
  border: none !important;
  background-color: white !important;
  text-decoration: none;
}

.accordion {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

#h4-accordion {
  color: #f99dcc;
  margin-bottom: 30px;
  margin: 0px auto;
  height: 35px;
  margin-bottom: 80px;
  border-radius: 5px;
  font-family: "Special Elite", cursive;
  font-size: 38px !important;
}

.red-story {
  width: 36%;
}

.accordion-button:not(.collapsed)::after {
  background-color: aqua;
  border-radius: 5px;
}

ul li {
  text-align: left;
}