.navbar {
  font-size: 22px;
  padding-bottom: 0px !important;
}

.nav-link {
  color: #2f2f2f !important;
  text-shadow: 4px 1px 5px #a6a8a8;
}

.brand {
  margin-top: -25px;
  margin-left: -40px;
  width: 35%;
}


