.navbar {
  font-size: 22px;
}

.nav-link {
  color: #2f2f2f !important;
}

.brand {
  margin-top: -25px;
  margin-left: -40px;
}

.text {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    #32eff6 90%,
    #32eff6 100%
  );

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;
}

.text:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

