.historyContent {
  margin: 0px auto;
  width: 85%;
  font-size: 20px;
  margin: 0px auto !important;
}

.card-history {
  margin-bottom: 50px;
  border: none !important;
}

.card-title {
  margin: 0px auto;
  height: 33px;
  margin-bottom: 30px !important;
  border-radius: 5px;
  font-family: "Special Elite", cursive;
  font-size: 38px !important;
}

.img-history {
  width: 100%;
  border-radius: 30px;
  box-shadow: 3px 2px 9px 2px #88f5fb;
}

.card-link {
  color: #07dce3;
  text-decoration: none;
}

.card-link:hover {
  color: white;
}

.col-img-story {
  margin-top: 25px !important;
  text-align: center;
  color: #f99dcc;
}

.card-text-history {
  font-size: 26px;
  font-family: "Courgette", cursive;
}

.section-size{
  height: 90vh !important;
}

.redes{
  width: 5%;
  margin-left: 8px;
  margin-right: 8px;
}