.historyContent {
  margin: 0px auto;
  width: 100%;
  font-size: 20px;
}

.card-history {
  margin-bottom: 50px;
  border: none!important;
}

.img-history{
  width: 100%;
  border-radius: 30px;
}

.card-link{
  color: #00f0f8;
  text-decoration: none;
}

.card-link:hover{
  color: white;
}

.col-img-story{
  margin-top: 25px!important;
  text-align: center;
}

.img-vs-story{
  width: 100%;
}

.history-link{
  background-image: linear-gradient(#5CE1E6,#5CE1E6);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x:right;

  transition: background-size 500ms;
}

.history-link:hover{
  background-size: 100% 100%;
  background-position-x:left;
}
