#slider {
  height: 815px;
  overflow: hidden;
  border-radius: 5px;
}

#slider img {
  height: 850px;
  width: 100%;
  display: block;
  margin: 0px auto;
}

.img-slider2 {
  height: 1200px !important;
  width: 100%;
  display: block;
  margin: 0px auto;
}

.carousel-caption {
  color: deeppink !important;
  text-align: center;
  background-color: #b9feff;
  opacity: 0.7;
  border-radius: 15px;
}

.carousel {
  margin-bottom: 80px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 20% !important;
}

.carousel-indicators [data-bs-target] {
  background-color: aqua !important;
  height: 5px !important;
}

.typewriter {
  font-size: 28px!important;
  margin-top: 80px !important;
  font-family: "Courgette", cursive;
  font-family: "Josefin Slab", serif;
}
